// Footer
//---------------------------------------------------
footer {
	border-top: 1px solid #ddd;
	padding: 1.5rem 0;

	small {
		width: 100%;
		text-align: center;
		text-align: center;
		color: lighten($global-color, 50%);

		svg {
			color: #d9534f !important;

			path {
				fill: #d9534f;
			}
		}
	}
}