// Base Colors
$black-base: #262c30;
$blue-base: #4F80E1;
$red-base: #FF5349;
$gray-base: #F0F0F1;
$lightgray-base: #f1f3f5;
$yellow-base: #fcf113;
$orange-base: #262c30;
$green-base: #18CDCA;
$white-base: #fff;